@import './colors.css';

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn.primary {
    background: linear-gradient(90deg, var(--brand-color-primary), var(--brand-color-secondary));
    color: white;
}

.btn.primary .icon {
    margin-right: 8px;
}

.btn.secondary {
    background: linear-gradient(90deg, var(--secondary-color-primary), var(--secondary-color-secondary));
    color: white;
}

.btn.icon-only {
    background-color: var(--brand-color-primary);
    color: white;
    width: 50px;
    height: 50px;
    padding: 0;
    justify-content: center;
    border-radius: 50%;
}
