:root {
    --brand-color-primary: #92A3FD;
    --brand-color-secondary: #9DCEFF;
    --secondary-color-primary: #C58BF2;
    --secondary-color-secondary: #EEA4CE;
    --black-color: #1D1617;
    --gray-color-dark: #7B6F72;
    --gray-color-light: #DDDADA;
    --border-color: #F7F8F8;
}
